<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <!-- Core page styling -->
    <link rel="stylesheet" href="/static/docs_assets/css/docs.css" />

    <!-- highlight.js syntax-highlight theme -->
    <link
      rel="stylesheet"
      href="/static/docs_assets/js/highlight/github.css" />

    <!-- highlight.js library -->
    <script src="/static/docs_assets/js/highlight/highlight.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => hljs.highlightAll());
    </script>
</head>


<body>
    <div class="container">
        {{content}}
    </div>
</body>

</html>